@model DesafioUsuario.Models.ClienteModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Cadastro de Usuário</h2>

@using(Html.BeginForm("Cadastro","Cliente", FormMethod.Post))
{
    @Html.AntiForgeryToken()

        <div class="editor-label">
            Nome do Usuario
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div class="editor-label">
            Email do Usuario
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
         <div class="editor-label">
            Senha do Usuario
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>
        <div class="editor-label">
            Upload de arquivo
        </div>
        <div class="editor-field">
            <input type="file" asp-for="Upload" name="file" />
        </div>

        <input type="submit" value="Cadastrar Cliente" class="btn btn-primary"/>
}
